.nav-container {
    height: 7rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin: 0 10px 0 10px;
}
.header-nav {
    display: flex;
    gap: 8rem;
    margin-left: 40px;
    font-size: 2.4rem;
    list-style: none;
    color: var(--white);
}


.main-container {
    margin: 0 10px 0 10px;
}


.titlecard-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 6.5rem;
    color: var(--white);
}


.primary-portrait-card-container {
    height: auto;
    display: flex;
}
.primary-portrait {
    height: 90rem;
}
.primary-portrait-titlecard-container {
    display: flex;
    align-items: center;
    margin: 0 10px 0 10px;
}
.primary-portrait-titlecard {
    text-align: center;
    word-break: break-word;
    font-size: 12rem;
    color: var(--white);
}



.primary-landscape-card-container {
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 30px 40px;
    background-color: black;
}
.primary-landscape-titlecard {
    color: var(--white);
    font-size: 8rem;
}
.primary-landscape-photo-container {
    margin-bottom: 40px;
}
.primary-landscape {
    width: 800px;
}


.about-section-container {
    height: 500px;
    display: flex;

    border: 2px solid var(--black);
}
.about-wrapper {
    height: 100%;
    width: 100%;
    background-color: var(--black);
    display: flex;
}
.about-img {
    width: 50%;
    background-color: black;
}
.nikon-img {
    width: 75rem;
    padding-left: 20px;
}
.about-card {
    width: 50%;
    background-color: var(--red);
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.profile-img {
    width: 50%;
    height: auto;
}


/*.code-box {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 50px 0 50px 0;
}

.code {
    height: 25rem;
    border-radius: 2%;
}